<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl"> <!--<![endif]-->

<!--

Recruitment system (zglaszam.pl) written by visualnet.pl
2012 All rights reserved

-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="system rekrutacyjny zglaszam.pl" />
<meta name="keywords" content="zglasza, zgłaszam, zglaszam, rekrutacja, szkolenia, recruitment, training" />
<meta name="author" content="visualnet.pl - tel.: 0502-026-586, 0603-672-211" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />   
<meta name="google" content="notranslate" />    
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />   
<meta name="distribution" content="global" />
<meta name="rating" content="general" />

<title>{% block title %}zglaszam.pl{% endblock %}</title>
{% block stylesheets %}{% endblock %}        
<link rel="stylesheet" type="text/css" media="screen" href="/css/frontend.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/lightbox.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/overcast/jquery-ui-1.8.17.custom.css" />
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

<!-- @wk unfortunately Modernizr has to be on top :/ others scripts may be on bottom -->
<script src="{{ asset('/js/modernizr.js') }}" type="text/javascript"></script>
</head>        

<body>

    <div id="main-container">
    
        <!-- Header -->
        
        <header id="header-error">
    
            <div class="wrapper">
        
                <div id="description">
                    {% trans %}Wystąpił błąd{% endtrans %}: 404
                    
                </div>

                <div id="description-extend">
                    {% trans %}Brak takiej strony{% endtrans %} 
                </div>    
    
                <div class="button-back"><span><a class="button-redirect" onclick="javascript: history.go(-1);" href="javascript: void(0);">{% trans %}Powrót{% endtrans %}</a></span></div>  
                
            </div>
    
        </header>
        
        <!-- / Header -->
        
        <!-- Content -->
    
        <div class="wrapper">
             
           
        </div>
        
    

{% include "::loader.html.twig" %}        

<div class="dialog" title="Komunikat"> </div>
<div class="confirm" title="Komunikat"> </div>

{% include '::basefrontjs.html.twig' %}

{% block javascripts %}{% endblock %}

<!-- Prompt IE 6,7 users to install Chrome Frame. Remove this if you want to support IE 6,7 chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 8 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

    </body>
</html>
