<div id="loader">
    <div class="loader-root">
        <div class="loader-dialog">
            <div class="center">{% trans %}proszę czekać ...{% endtrans %}</div>
        </div>
    </div>    
</div>  