{% extends "::template.html.twig" %}

{% block top %}

    <div class="header-top-content">Wydarzenie</div>
    <div class="top-content">{{ recruitmentDate.getRecruitment.getName }}</div>

{% endblock %}

{% block body %}

<h3>
    <div class="content-header">Twoje dane zostały zapisane<br />Dziękujemy.</div>
</h3>

<br /><br />

<table>
    
    <tr>
        
        <td style="text-align: center; vertical-align: middle;">

            <div class="button-clean">
                <span>
                    <a class="button-redirect" href="{{ url('FrontendBundle_recruitment_group', {'id' : recruitmentDate.getRecruitment.getGroupId }) }}">{% trans %}Powrót{% endtrans %}</a>
                </span>
            </div>   

        </td>        
        
    </tr>    
    
</table>

{% endblock %}

