
<div style="font-family: Tahoma; font-size: 12px; color:#6F695D;">

    <img src="http://www.zglaszam.pl/images/logo-mail.png" alt="" />
    <br />
    
    <div style="padding: 10px; width: 30%; background-color: #f2f2f2; border-radius: 15px; -ms-border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; -khtml-border-radius: 15px;">
    
        <div style="color: #89cc00; font-weight: bold; font-size: 14px;">Nowy użytkownik:</div>
        <br />
        login: <span style="font-weight: bold;">{{ user.username }}</span><br/>
        hasło: <span style="font-weight: bold;">{{ user.password }}</span>
        <br />
    </div>

    <br /><br/>
    
    <span style="font-size: smaller;">        
        UWAGA: Niniejsza wiadomość została wygenerowana automatycznie, prosimy na nią nie odpowiadać<br/>
        We wszelkich sprawach prosimy o kontakt mailowy na adres <strong><a href="mailto:poczta@visualnet.pl ">poczta@visualnet.pl</a></strong>.         
    </span>
    
    <br /><br />
    &copy; zglaszam.pl {{ "now"|date("Y") }}. Wszelkie prawa zastrzeżone 
    
</div>
