<form id="form-validate" novalidate="novalidate" action="{{ url('UserBundle_change_password', {'id' : app.user.getId }) }}"  method="post">

    
    <!--  global errors container  -->
    <span id="global-errors" class="hidden error">example</span>      
        
    <table class="manipulate-table">

        <tbody>

            <tr>
                <th><label class="required" for="password">Hasło</label>:</th>
                <td>
                    <input type="password" id="password" name="password" />
                </td>

            </tr>   

            <tr>
                <th><label class="required" for="password-repeat">Powtórz hasło</label>:</th>
                <td>
                    <input type="password" id="password-repeat" name="password-repeat" />
                </td>

            </tr>                    

        </tbody>

    </table>

    <br /><br />

    <a data-width="200" data-height="100" class="button-save ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false">
        <span class="ui-button-icon-primary ui-icon ui-icon-pencil"></span>
        <span class="ui-button-text">
            {% trans %}Zapisz{% endtrans %}
        </span>
    </a> 

    <a class="button-close ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false">
        <span class="ui-button-icon-primary ui-icon ui-icon-close"></span>
        <span class="ui-button-text">
            {% trans %}Zamknij{% endtrans %}
        </span>
    </a>           


</form>


<script src="{{ asset('/js/modal.js') }}" type="text/javascript"></script>
<script src="{{ asset('/js/user.js') }}" type="text/javascript"></script>
<script src="{{ asset('/js/jquery.pstrength.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    $(function() {
        $('#password').pstrength();
    });
</script>