{% extends '::admin.html.twig' %}

{% block body %}

<div class="header-content-bold">{% trans %}Edycja elementu menu{% endtrans %}</div>

    {% include 'MenuBundle:Default:form.html.twig' %}

{% endblock %}
